.btn {
  padding: 0.5rem 3rem;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  background: #fff;
  font-weight: 700;
  cursor: pointer;
}
.btn:hover {
  background: #2e4ec8;
  color: #fff;
  border: 1px solid #fff;
}

@media screen and (max-width: 670px) {
  .btn:hover {
    background: #fff;
    color: black;
  }
}
