.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
}

.app-game {
  height: 90vh;
  width: 100vw;
  margin-top: 3rem;
}
