* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: #2e4ec8;
  font-family: "Andada Pro", serif;
}

@media screen and (max-width: 810px) {
  * {
    font-size: 50%;
  }
}
